@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
body {
  background-color: #ffffff;
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
    outline: none;
}
input:focus{
    outline: none;
}


::-webkit-scrollbar {
    display: none;
}